*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img.cart{
    height: 30px;
    width: 30px;
}
#own{
    font-family: "Lucida Console", "Courier New", monospace;
    font-stretch: wider;
}